<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobbypos.model.mapper.HqMapper">

	<select id="selectStoreList" resultType="Store">
		SELECT storecode, storename, managername, email, phoneno, address
		FROM store 
	</select>
	
	<resultMap type="Store" id="storeMap">
		<id column="storecode" property="storeCode" />
		<result column="address" property="address" />
		<result column="storename" property="storeName" />
		<result column="managername" property="managerName" />
		<result column="email" property="email" />
		<result column="phoneno" property="phoneNo" />
		<result column="hqcode" property="hqCode" />
	</resultMap>
	
	<resultMap type="Customer" id="customerMap">
		<id column="customerno" property="customerNo"/>
		<result column="c_name" property="customerName" />
		<result column="c_phoneno" property="customerPhoneNo" />
		<result column="c_age" property="customerAge" />
		<result column="c_gender" property="customerGender" />
		<result column="c_point" property="customerPoint" />
		<result column="c_level" property="customerLevel" />
		<association column="storecode" property="store" resultMap="storeMap" />
	</resultMap>
	<select id="selectCustomerList" resultMap="customerMap">
		SELECT c.customerno, c.c_name, c.c_phoneno, c.c_age, c.c_gender, c.c_point, c.c_level, s.storename
		FROM customer c, store s
		WHERE c.storecode = s.storecode 
	</select>
	
	<select id="selectClientList" resultType="Client">
		SELECT clientname, businessregistrationnumber, clientphoneno, email, address, regdate
		FROM client
	</select>

</mapper> 