<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobbypos.model.mapper.AttendanceMapper"><!-- 클래스 또는 인터페이스 역할 -->

<!-- 	private int attendanceNo;
	private Date startWork;
	private Date endWork;
	private int employeeNo; -->


	<sql id="AttendanceColumns">
		attendanceNo, startWork, endWork, employeeNo
	</sql>
	
	<resultMap type="Attendance" id="attendanceMap">
		<id property="attendanceNo" column="attendanceNo" />
		<result property="startWork" column="startWork" />
		<result property="endWork" column="endWork" />
		<result property="employeeNo" column="employeeNo" />
	</resultMap>
	
	<resultMap type="Employee" id="employeeMap">
		<id property="employeeNo" column="employeeNo" />
		<result property="employeeName" column="employeeName" />
		<result property="phoneNo" column="phoneNo" />
		<result property="passwd" column="passwd" />
		<result property="storeCode" column="storeCode" />
		<result property="wage" column="wage" />
		<result property="employeeType" column="employeeType" />
		<result property="employeeId" column="employeeId" />
		<collection property="attendances" column="employeeNo" resultMap="attendanceMap" />
	</resultMap>
	
	
	
	<select id="selectAttendanceAllByStoreCode" parameterType="string" resultMap="employeeMap">
		SELECT 
			at.attendanceNo, at.startWork, at.endWork,
			em.employeeNo, em.employeeName, em.phoneNo, em.passwd, em.storeCode, em.wage, em.employeeType, em.employeeId
		FROM employee em
		LEFT OUTER JOIN attendance at
		ON em.employeeNo = at.employeeNo
		WHERE em.storeCode = #{id} AND em.employeeType = 'user'
	</select>
	
</mapper>