<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobbypos.model.mapper.CheckMapper"><!-- 클래스 또는 인터페이스 역할 -->

	<!-- 
	private int employeeNo;
	private String employeeName;
	private String phoneNo;
	private String passwd;
	private String storeCode;
	private int wage;
	private String employeeType;
	private String employeeId;

	 -->


	<resultMap type="Balance" id="balanceMap">
		<id property="balanceNo" column="balanceNo" />
		<result property="plusMinus" column="plusMinus" />
		<result property="regDate" column="regDate" />
		<result property="storeCode" column="storeCode" />
		<result property="description" column="description" />
		<result property="itemCode" column="itemCode" />
		<collection property="accountCode" column="itemCode"
			resultMap="accountCodeMap" />
	</resultMap>
	<resultMap type="AccountCode" id="accountCodeMap">
		<id property="itemCode" column="itemCode"/>
		<result property="itemName" column="itemName"/>
	</resultMap>
	
	
	<select id="getBalances" resultMap="balanceMap">
		SELECT balanceNo, plusMinus, regDate, storeCode, description, itemCode 
		FROM balance   
	</select>
	
	
	<select id="getBalanceByNo" parameterType="int" resultType="Balance">		
		SELECT balanceNo, plusMinus, regDate, storeCode, description, itemCode 
		FROM balance
		WHERE balanceNo = #{balanceNo}
		
	</select>
	
	<!-- <select id="selectBalanceByCode" 
		parameterType="hashMap" resultType="Balance">
		SELECT ba.balanceNo, ba.plusMinus, ba.regDate, ba.storeCode, ba.description, ba.itemCode
    	FROM store st JOIN balance ba
    	where st.storeCode = ba.storeCode
		where st.storeCode = #{storeCode}  
		and st.storeCode = ba.storeCode 
	</select> -->

	<!-- <insert id="insertEmployee" parameterType="Employee">
		INSERT INTO Employee (employeeName,phoneNo,passwd, storeCode,wage, employeeType, employeeId)
		VALUES ( #{employeeName}, #{phoneNo}, #{passwd}, #{storeCode}, #{wage}, #{employeeType}, #{employeeId})
	</insert> --> 
</mapper>