<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobbypos.model.mapper.CheckMapper">

	<resultMap type="Balance" id="balanceMap">
		<id property="balanceNo" column="balanceNo" />
		<result property="plusMinus" column="plusMinus" />
		<result property="regDate" column="regDate" />
		<result property="storeCode" column="storeCode" />
		<result property="description" column="description" />
		<result property="itemCode" column="itemCode" />
		<collection property="accountCode" column="itemCode"
			resultMap="accountCodeMap" />
	</resultMap>
	<resultMap type="AccountCode" id="accountCodeMap">
		<id property="itemCode" column="itemCode"/>
		<result property="itemName" column="itemName"/>
	</resultMap>
	
	
	<select id="getBalances" resultMap="balanceMap">
		SELECT balanceNo, plusMinus, regDate, storeCode, description, itemCode 
		FROM balance   
	</select>
	
	
	<select id="getBalanceByNo" parameterType="int" resultType="Balance">		
		SELECT balanceNo, plusMinus, regDate, storeCode, description, itemCode 
		FROM balance
		WHERE balanceNo = #{balanceNo}
	</select>
	
	<select id="getBalancebyPeriod" parameterType="hashMap" resultMap="balanceMap">		
		SELECT balanceNo, plusMinus, regDate, storeCode, description, itemCode 
		FROM balance 
		where regDate &gt;= date(#{startdaystr}) and regDate &lt; date(#{enddaystr}) + interval 1 day
	</select>
	
	<select id="getBalancebyPeriodAndPlus" parameterType="hashMap" resultMap="balanceMap">		
		SELECT balanceNo, plusMinus, regDate, storeCode, description, itemCode 
		FROM balance 
		where regDate &gt;= date(#{startdaystr}) and regDate &lt; date(#{enddaystr}) + interval 1 day
		and plusMinus >= 0
	</select>
	
	<select id="getBalancebyPeriodAndMinus" parameterType="hashMap" resultMap="balanceMap">		
		SELECT balanceNo, plusMinus, regDate, storeCode, description, itemCode 
		FROM balance 
		where regDate &gt;= date(#{startdaystr}) and regDate &lt; date(#{enddaystr}) + interval 1 day
		and plusMinus &lt; 0
	</select>
	
	
	
	<!-- <select id="selectBalanceByCode" 
		parameterType="hashMap" resultType="Balance">
		SELECT ba.balanceNo, ba.plusMinus, ba.regDate, ba.storeCode, ba.description, ba.itemCode
    	FROM store st JOIN balance ba
    	where st.storeCode = ba.storeCode
		where st.storeCode = #{storeCode}  
		and st.storeCode = ba.storeCode 
	</select> -->

	<!-- <insert id="insertEmployee" parameterType="Employee">
		INSERT INTO Employee (employeeName,phoneNo,passwd, storeCode,wage, employeeType, employeeId)
		VALUES ( #{employeeName}, #{phoneNo}, #{passwd}, #{storeCode}, #{wage}, #{employeeType}, #{employeeId})
	</insert> -->
	
	
	<!-- <resultMap type="Menu" id="MenuMap">
		<id property="foodCode" column="foodCode" />
		<result property="foodName" column="foodName" />
		<result property="foodPrice" column="foodPrice" />
		<result property="rdgDate" column="rdgDate" />
		<result property="hqCode" column="hqCode" />
		<result property="totalprice" column="totalprice" />
	</resultMap>
	<resultMap type="OrderDetail" id="OrderDetailMap">
		<id property="orderDetailNo" column="orderDetailNo" />
		<result property="foodCode" column="foodCode" />
		<result property="orderNo" column="orderNo" />
		<result property="quanitity" column="quanitity" />
		<result property="price" column="price" />
		<association property="menu" column="foodCode"
			resultMap="MenuMap" />
	</resultMap>
	<resultMap type="Orders" id="OrdersMap">
		<id property="orderNo" column="orderNo" />
		<result property="orderDate" column="orderDate" />
		<result property="tableNo" column="tableNo" />
		<result property="payType" column="payType" />
		<result property="discountRate" column="discountRate" />
		<result property="orderStatus" column="orderStatus" />
		<result property="storeCode" column="storeCode" />
		<collection property="orderDetails" column="orderNo"
			resultMap="OrderDetailMap" />
	</resultMap>
	<resultMap type="Customer" id="customerNoMap">
	 	<id property="customerNo" column="customerNo" />
		<result property="customerName" column="c_name" />
		<result property="customerPhoneNo" column="c_phoneNo" />
		<result property="customerAge" column="c_age" />
		<result property="customerGender" column="c_gender" />
		<result property="customerPoint" column="c_point" />
		<result property="storeCode" column="storeCode" />
		<collection property="orderss" column="customerNo"
			resultMap="OrdersMap" />
	</resultMap> 
	
	<select id="sellByMenu" resultMap="sellbyMenuMap">
		select 
		me.foodCode , me.foodName, sum(odt.quantity) as sumcount, odt.price , sum((odt.price *(1-(od.discountRate/100))) *odt.quantity) as orl_price
		from orders od, orderdetail odt, menu me
		where od.orderNo = odt.orderNo and odt.foodCode = me.foodCode
		group by me.foodCode
		order by me.foodCode asc;
	</select> -->
	
	<resultMap type="Menu" id="menuMap">
		<id property="foodCode" column="foodCode" />
		<result property="foodName" column="foodName" />
		<result property="regDate" column="regDate" />
		<result property="hqCode" column="hqCode" />
		<result property="foodPrice" column="foodPrice" />
		<result property="totalprice" column="totalprice" />
		<result property="totalcount" column="totalcount" />
		<result property="orderDetailPrice" column="orderDetailPrice" />
	</resultMap>
	<select id="selectMenuByDaySell" parameterType="hashMap" resultMap="menuMap">
	select me.foodCode as foodCode, me.foodName as foodName, 
		sum(odt.quantity) as totalcount, odt.price as orderDetailPrice , sum((odt.price *(1-(od.discountRate/100))) *odt.quantity) as totalprice
	from orders od, orderdetail odt, menu me
	where od.orderNo = odt.orderNo and odt.foodCode = me.foodCode 
		and DATE_FORMAT(od.orderDate, '%Y-%m-%d') = #{todayDate}
		and od.storeCode = #{storeCode}
	group by me.foodCode 
	order by me.foodCode asc
	</select>
	 
</mapper>