<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.dobbypos.model.mapper.CustomerMapper">

	<select id="countTotalCustomers" resultType="int">
		SELECT COUNT(c_name)
		FROM customer
	</select>
<insert id="insertCustomer" parameterType="Customer">
        insert into Customer
        (c_name, c_phoneNo, c_age, c_gender, c_point, c_level, storeCode )
         values
         (#{c_name},#{c_phoneNo},#{c_age},#{c_gender},#{c_point},#{c_level},#{storeCode})
    </insert> 
</mapper>