<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.dobbypos.model.mapper.CustomerMapper">

	<select id="countTotalCustomers" resultType="int">
		SELECT COUNT(c_name)
		FROM customer
	</select>
<insert id="insertCustomer" parameterType="Customer">
        insert into Customer
        (c_name, c_phoneNo, c_age, c_point, c_level, c_gender, storeCode )
         values
         (#{c_name},#{c_phoneNo},#{c_age},#{c_point}, #{c_level}, #{c_gender},#{storeCode})
    </insert> 
    
    
    <select id="getCustomers" resultType="Customer">
		SELECT customerNo, c_name, c_phoneNo, c_gender, c_age, c_point, c_level
		FROM customer
		WHERE storeCode = #{id}
	</select>
	
	<select id="selectCustomersByCustomerNo" parameterType="int" resultType="Customer">
		SELECT customerNo, c_name, c_phoneNo, c_gender, c_age, c_point, c_level
		FROM customer
		WHERE customerNo = #{id}
	</select>
    
    
</mapper>