<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobbypos.model.mapper.HqMapper"><!-- 클래스 또는 인터페이스 역할 -->

<!-- 	private String hqCode;
	private String hqName;
	private String phoneNo;
	private String address;
	private String hqId;
	private String hqPasswd; -->

	<sql id="HqColumns">
		hqCode, hqName, phoneNo, address, hqId, hqPasswd
	</sql>
	
	<resultMap type="Hq" id="hqMap">
		<id property="hqCode" column="hqCode" />
		<result property="hqName" column="hqName" />
		<result property="phoneNo" column="phoneNo" />
		<result property="address" column="address" />
		<result property="hqId" column="hqId" />
		<result property="hqPasswd" column="hqPasswd" />
	</resultMap>
	
	<select id="selectHqByHqId" parameterType="String" resultType="Hq">
		SELECT <include refid="HqColumns" /> 
		FROM hq
		WHERE hqId = #{id}
	</select>
	
	<select id="selectStoreList" parameterType="String" resultType="Store">
		SELECT storecode, storename, managername, email, phoneno, address
		FROM store 
		WHERE hqCode = #{id}
	</select>
	
	<resultMap type="Store" id="storeMap">
		<id column="storecode" property="storeCode" />
		<result column="address" property="address" />
		<result column="storename" property="storeName" />
		<result column="managername" property="managerName" />
		<result column="email" property="email" />
		<result column="phoneno" property="phoneNo" />
		<result column="hqcode" property="hqCode" />
	</resultMap>
	
	<resultMap type="Customer2" id="customerMap">
		<id column="customerno" property="customerNo"/>
		<result column="c_name" property="customerName" />
		<result column="c_phoneno" property="customerPhoneNo" />
		<result column="c_age" property="customerAge" />
		<result column="c_gender" property="customerGender" />
		<result column="c_point" property="customerPoint" />
		<result column="c_level" property="customerLevel" />
		<association column="storecode" property="store" resultMap="storeMap" />
	</resultMap>
	<select id="selectCustomerList" parameterType="String" resultMap="customerMap">
		SELECT c.customerno, c.c_name, c.c_phoneno, c.c_age, c.c_gender, c.c_point, c.c_level, s.storecode
		FROM customer c, store s
		WHERE s.hqcode = #{id}
	</select>
	
	<select id="selectClientList" parameterType="String" resultType="Client">
		SELECT clientname, businessregistrationnumber, clientphoneno, email, address, regdate
		FROM client
		WHERE hqCode = #{id}
	</select>
	
	<select id="selectCurrentMonthRevenue" parameterType="String" resultType="Integer">		
		SELECT ifnull(SUM(b.plusMinus), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(current_timestamp)) and s.hqcode = #{id}	
	</select>
	
	<select id="selectLastMonthRevenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -1 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth2Revenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -2 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth3Revenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -3 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth4Revenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -4 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth5Revenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -5 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth6Revenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -6 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth7Revenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -7 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth8Revenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -8 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth9Revenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -9 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth10Revenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -10 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth11Revenue" parameterType="String" resultType="Integer">
		SELECT ifnull(SUM(b.plusMinus), 0)
		FROM balance b, store s WHERE b.storecode = s.storecode and b.plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%m') in (month(date_add(now(), interval -11 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectCurrentMonthPurchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(current_timestamp)) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth1Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -1 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth2Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -2 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth3Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -3 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth4Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -4 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth5Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -5 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth6Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -6 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth7Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -7 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth8Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -8 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth9Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -9 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth10Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -10 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastMonth11Purchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%m') in (month(date_add(now(), interval -11 month))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastYearRevenues" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &gt; 0 and DATE_FORMAT(b.regDate,'%Y') in (year(date_add(now(), interval -1 year))) and s.hqcode = #{id}
	</select>
	
	<select id="selectLastYearPurchases" parameterType="String" resultType="Integer">
		SELECT ifnull(ABS(SUM(b.plusMinus)), 0) 
		FROM balance b, store s WHERE b.storecode = s.storecode and plusMinus &lt; 0 and DATE_FORMAT(regDate,'%Y') in (year(date_add(now(), interval -1 year))) and s.hqcode = #{id}
	</select>	

</mapper>