<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobbypos.model.mapper.MenuMapper"><!-- 클래스 또는 인터페이스 역할 -->
	
	<resultMap type="Menu" id="menuMap">
		<id property="foodCode" column="foodCode" />
		<result property="foodName" column="foodName" />
		<result property="regDate" column="regDate" />
		<result property="hqCode" column="hqCode" />
		<result property="foodPrice" column="foodPrice" />
	</resultMap>
	
	
	<insert id="insertMenu" parameterType="Menu">
		INSERT INTO Menu (foodCode,foodName,foodPrice,regDate,hqCode)
		VALUES (#{foodCode},#{foodName},#{foodPrice}, #{regDate}, #{hqCode})
	</insert>
	
	<insert id="insertMenu2" parameterType="Menu">
		INSERT INTO menu (foodCode, foodName, foodPrice, regDate, hqCode, menuGroups, savedFileName, userFileName)
		VALUES (#{foodCode}, #{foodName}, #{foodPrice}, current_timestamp(), #{hqCode}, #{menuGroups}, #{savedFileName}, #{userFileName})
	</insert>
	
	<select id="selectMenuList" parameterType="String" resultType="Menu">
		SELECT foodCode, foodName, foodPrice, regDate, hqCode, menuGroups, savedFileName, userfileName
		FROM menu
		WHERE hqCode = #{id}
	</select>
	
	<update id="updateSaleMenuInfo" parameterType="Menu">
		UPDATE menu SET foodName = #{foodName}, foodPrice = #{foodPrice}, regDate = current_timestamp(), 
		hqCode = #{hqCode}, menuGroups = #{menuGroups}, savedFileName = #{savedFileName}, userFileName = #{userFileName} 
		WHERE foodCode = #{foodCode}
	</update>
	
	<update id="updateSaleMenuInfoWithoutFile" parameterType="Menu">
		UPDATE menu SET foodName = #{foodName}, foodPrice = #{foodPrice}, regDate = current_timestamp(), 
		hqCode = #{hqCode}, menuGroups = #{menuGroups}
		WHERE foodCode = #{foodCode}
	</update>
	
	<delete id="deleteSaleMenuByFoodCode" parameterType="String">
		DELETE FROM menu WHERE foodCode = #{id}
	</delete>

	
</mapper>