<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobbypos.model.mapper.SaleMapper">

   <!-- <resultMap type="com.dobbypos.model.dto.Menu" id="menuMap" /> -->


	 <resultMap type="Menu" id="menuMap">
		<id property="foodCode" column="foodCode" />
		<result property="foodName" column="foodName" />
		<result property="regDate" column="regDate" />
		<result property="hqCode" column="hqCode" />
		<result property="foodPrice" column="foodPrice" />
	</resultMap>
	
   <select id="allMenus" resultType="Menu">
      SELECT foodCode, foodName, foodPrice, regDate, hqCode from menu
    </select>
    
    <select id="selectMenus" parameterType="String" resultType="Menu">
      SELECT foodCode, foodName, foodPrice, regDate, hqCode from menu
      WHERE foodName = #{ id }
    </select> 
    
    <insert id="insertOrder" parameterType="Orders" useGeneratedKeys="true" keyColumn="orderNo" keyProperty="orderNo">
		insert into orders (storeCode, orderStatus, totalTableNo)
		values (#{storeCode}, 'processing', #{totalTableNo});
	</insert>
    
    <insert id="insertOrderDetail" parameterType="OrderDetail">
		<!-- 여기에 선택한 메뉴에 대한 insert sql구문들어가야되는데 -->
		insert into orderDetail (foodCode, orderNo, quantity, price) 
		values (#{foodCode}, #{orderNo}, #{quantity}, #{price} );
	</insert>
	
	<update id="updateOrderDetail" parameterType="OrderDetail">
		update orderdetail 
		set quantity = #{quantity}, price = #{price} 
		where orderDetailNo = #{orderDetailNo}
	</update>
	
	<select id="selectOrderDetailCountByOrderNo" resultType="int" parameterType="int">
      SELECT count(*) from orderdetail where orderno = #{id}
    </select>
	


</mapper>