<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobbypos.model.mapper.StoreMapper"><!-- 클래스 또는 인터페이스 역할 -->
	
	<select id="selectStoreNameListById" parameterType="HashMap" resultType="String">
		SELECT storename
		FROM store
		WHERE storename LIKE concat(#{ storeName }, '%') AND hqCode = #{hqCode}
	</select>
	
	<select id="selectStoreCodeListByStoreCode" parameterType="HashMap" resultType="String">
		SELECT storecode
		FROM store
		WHERE storecode LIKE concat(#{ storeCode }, '%') AND hqCode = #{hqCode}
	</select>
	
	<insert id="insertStore" parameterType="Store">
		INSERT INTO store
		VALUES (#{storeCode}, #{address}, #{storeName}, #{managerName}, #{email}, #{phoneNo}, #{hqCode})
	</insert>
	
	<select id="selectStoreByStoreName" parameterType="HashMap" resultType="Store">
		SELECT storecode, address, storename, managername, email, phoneno, hqcode
		FROM store
		WHERE storename = #{storeName} AND hqcode = #{hqCode}
	</select>
	
	<update id="updateStoreInfo" parameterType="Store">
		UPDATE store SET address = #{address}, storename = #{storeName}, managername = #{managerName}, 
		email = #{email}, phoneno = #{phoneNo}, hqcode = #{hqCode} WHERE storecode = #{storeCode} 
	</update>
	
	<delete id="deleteStoreByStoreCode" parameterType="HashMap">
		DELETE FROM store WHERE storeCode = #{storeCode} AND hqCode = #{hqCode}
	</delete>
	
	<select id="selectStoreByStoreCode" parameterType="String" resultType="Store">
		select storecode, address, storename, managername, email, phoneno, hqcode
		from store
		where storecode = #{id}
	</select>
	
	
	<select id="selectStoreNameByStoreCode" parameterType="String" resultType="String">
		select concat(hq.hqName,' ', store.storeName) as storename
		from store join hq on store.hqCode = hq.hqCode
		where storecode = #{id}
	</select>
		
	<select id="selectHqByStoreCode" parameterType="String" resultType="Hq">
		select hq.hqCode, hq.hqName, hq.phoneNo, hq.address, hq.hqId, hq.hqPasswd
		from hq join store on hq.hqCode = store.hqCode
		where store.storeCode = #{id}
	</select>
</mapper>






