<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties>

	 <!-- 아래의 부분은 오라클 버전. -->
      <!--<property name="driverClass" value="oracle.jdbc.OracleDriver" />
      <property name="url" value="jdbc:oracle:thin:@210.16.214.202:1521:xe" />
      <property name="username" value="dobbypos" />
      <property name="password" value="dobby" />
-->
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://210.16.214.202:3306/dobbypos" />
		<property name="username" value="dobbypos" />
		<property name="password" value="dobby" />

	</properties>
	
	<typeAliases>
	<!-- 	<typeAlias type="com.mvcdemoweb.model.dto.Member" alias="Member"/>
		<typeAlias type="com.mvcdemoweb.model.dto.Upload" alias="Upload"/>
		<typeAlias type="com.mvcdemoweb.model.dto.UploadFile" alias="UploadFile"/> -->
		<typeAlias type="com.dobbypos.model.dto.Hq" alias="Hq"/>
		<typeAlias type="com.dobbypos.model.dto.Employee" alias="Employee"/>
		<typeAlias type="com.dobbypos.model.dto.StoreTable" alias="StoreTable"/>
		<typeAlias type="com.dobbypos.model.dto.Menu" alias="Menu"/>
		<typeAlias type="com.dobbypos.model.dto.Store" alias="Store" />
		<typeAlias type="com.dobbypos.model.dto.Customer" alias="Customer" />
		<typeAlias type="com.dobbypos.model.dto.Client" alias="Client" />
		<typeAlias type="com.dobbypos.model.dto.Attendance" alias="Attendance" />
		<typeAlias type="com.dobbypos.model.dto.Balance" alias="Balance" />
		<typeAlias type="com.dobbypos.model.dto.Stock" alias="Stock" />
		<typeAlias type="com.dobbypos.model.dto.StockCode" alias="StockCode" />
		<typeAlias type="com.dobbypos.model.dto.AccountCode" alias="AccountCode" />
		
		<typeAlias type="com.dobbypos.model.dto.AttendanceSearch" alias="AttendanceSearch" />
		
		<!-- 윤수가추가 -->
		<typeAlias type="com.dobbypos.model.dto.Menu" alias="Menu"/>
		
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="dobbypos" />
				<property name="password" value="dobby" />
			</dataSource>
			
		</environment>
	</environments>
	

	<mappers>
	<!-- Code에서 분리된 SQL문이 작성되고 객체와의 매핑 장보가 정1의되는 파일들  -->
		<mapper resource="com/dobbypos/model/mapper/mysqlmapper/HqMapper.xml" />
		<mapper resource="com/dobbypos/model/mapper/mysqlmapper/EmployeeMapper.xml" />
		<mapper resource="com/dobbypos/model/mapper/mysqlmapper/TableMapper.xml" />
		<mapper resource="com/dobbypos/model/mapper/mysqlmapper/CustomerMapper.xml" />
		<mapper resource="com/dobbypos/model/mapper/mysqlmapper/MenuMapper.xml" />
		<mapper resource="com/dobbypos/model/mapper/mysqlmapper/StoreMapper.xml" />
		<mapper resource="com/dobbypos/model/mapper/mysqlmapper/AttendanceMapper.xml" />
		<mapper resource="com/dobbypos/model/mapper/mysqlmapper/CheckMapper.xml" />
		<mapper resource="com/dobbypos/model/mapper/mysqlmapper/StockMapper.xml" />
		

		
		<!-- 윤수가추가 -->
		<mapper resource="com/dobbypos/model/mapper/mysqlmapper/SaleMapper.xml" />

	
	</mappers>

</configuration>