<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobbypos.mapper.EmployeeMapper"><!-- 클래스 또는 인터페이스 역할 -->
	
	<!-- <sql id="memberColumns">
		memberId, email, userType, active, regDate 
	</sql>
	
	<resultMap type="com.mvcdemoweb.model.dto.Member" id="memberMap">
	<resultMap type="Member" id="memberMap">
		<id property="memberId" column="memberId" />
		<result property="email" column="email" />
		<result property="userType" column="userType" 
			typeHandler="com.mvcdemoweb.model.mapper.MemberTypeHandler" />
		<result property="active" column="active" />
		<result property="regDate" column="regDate" />
	</resultMap>
	 -->
	<!-- <select id="selectMembers2" resultMap="memberMap">
		SELECT memberId, email, userType, active, regDate 
		FROM member
	</select>
	
	메서드 역할
	<select id="selectMembers" resultType="Member">
		SELECT <include refid="memberColumns" /> 
		FROM member
	</select>
	
	<select id="selectMemberByIdAndPasswd" 
		parameterType="hashMap" resultType="Member">
		SELECT <include refid="memberColumns" /> 
		FROM member
		WHERE memberId = #{memberId} AND passwd = #{passwd} AND active = true
	</select>
	
	<select id="selectMemberById" 
		parameterType="String" resultType="Member">
		SELECT <include refid="memberColumns" /> 
		FROM member
		WHERE memberId = #{id}
	</select> -->
	
	<insert id="insertEmployee" parameterType="Employee">
		INSERT INTO Employee (employeeName,phoneNo,passwd, storeCode,wage)
		VALUES (#{employeeName}, #{phoneNo}, #{passwd}, #{storeCode}, #{wage})
	</insert>
	
</mapper>






